#categories {
  margin-right: $content_pad_around;
  min-width: 220px;

  .title {
    h3 {
        margin: 0 0 $content_item_mrg 0;
    }
  }

  ul {
    padding-left: $content_pad_around;
    margin: 0;

    li {
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
