#masthead {
  position: fixed;
  background: $overhigh_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  width: 100%;
  margin: 0 auto;
  z-index: 2;

  .logo {
    cursor: pointer;
    user-select: none;

    h1 {
      @include logo;
    }
  }
  
  .button {
    font-weight:500
  }

  .interagtions {
    .button {
      margin-left: 121px;
    }
  }

  .user-action {
    &.not-logged {
      .fafont-icon {
        margin-right: $header_user_action_gap;
      }
    }
  }
}
