#weather-list {
  width: calc(37% - 10px);

  .item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    @include content_border;
    width: 100%;
    padding: $content_item_pad;

    &:not(:last-child) {
      margin-bottom: $content_item_mrg;
    }

    .picture {
      display: flex;
      justify-content: center;
      align-items: center;
      @include content_border;
      min-height: $weather_icon_small;
      min-width: $weather_icon_small;
      height: $weather_icon_small;
      width: $weather_icon_small;

      .icon-weather {
        transform: scale(0.6);
        top: -1px;
      }
    }

    .container {
      padding-left: $content_item_pad;

      .date {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
        width: 100%;

        & > * {
          display: block;
          margin: 0;
        }
      }

      p {
        margin: 5px 0 0 0;
      }
    }
  }
}
