#weather-info {
  width: calc(63% - 10px);

  .main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding-bottom: $content_pad_around;

    .picture {
      display: flex;
      justify-content: center;
      align-items: center;
      @include content_border;
      min-height: $weather_icon_big;
      min-width: $weather_icon_big;
      height: $weather_icon_big;
      width: $weather_icon_big;
      overflow: hidden;
    }

    .container {
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 12px 0 0 35px;

      & > div:not(:last-child) {
        margin-bottom: 10px;
      }

      h2,
      h3,
      p {
        margin: 0;
      }

      .town {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
        width: 100%;
      }
    }
  }

  .additional {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .item {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      @include content_border;
      width: calc(50% - 6px);
      padding: $content_item_pad;

      &:not(:last-child) {
        margin-bottom: $content_item_mrg;
      }

      .fafont-icon {
        border: 3px solid $color_on_white;
        border-radius: $reg_radius;
        padding: 5px;
      }

      .container {
        align-items: flex-start;
        padding-left: $content_item_mrg;

        h4 {
          margin: 0 0 5px 0;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
