.content-weather {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  @include content_border;
  padding: $content_pad_around;
}

@import "./weather-info";
@import "./weather-list";
